/*
Copyright © Ditpowuh 2018 Copyright Holder All Rights Reserved | All comments are from me
*/

@import url("https://fonts.googleapis.com/css?family=Montserrat");

html {
  font-family: "Montserrat";
}

body {
  color: #333;
  font-weight: 100;
  max-width: 50em;
  margin: 0 auto;
}

div:focus {
  outline: none;
}

.wrapper {
  text-align: center;
}

#heading {
  font-size: 48px;
  padding-top: 30px;
}

#content {
  padding-top: 10px;
  font-size: 24px;
}
